<html lang="en" class="dark">

<head>
   <meta charset="UTF-8" />
   <meta name="viewport" content="width=device-width, initial-scale=1.0" />
   <title>portfolio</title>
   <link rel="stylesheet" href="/tailwind.css" />
   <link rel="shortcut icon" href="/img/k.png" type="image/x-icon">
   <script type="module" src="/client/main.js"></script>
</head>

<body class="font-sans bg-zinc-100 text-black dark:bg-gray-900 dark:text-white transition-bg duration-200">
   <!-- Modal -->
   <div id="modal" class=" bg-slate-100 absolute rounded-md top-0 bottom-0 left-0 right-0 m-auto
    w-2/3 h-60 md:h-1/2 md:w-1/2 lg:w-1/3 z-50 hidden">
      <button class="bg-red-500 border-4 border-red-400 px-2 absolute right-3 top-3 rounded-md">X</button>
   </div>

   <!-- Navbar -->
   <header class="flex h-20 items-center bg-black p-10 text-white fixed top-0 w-full z-50">


      <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor"
         class="h-6 w-6">
         <path stroke-linecap="round" stroke-linejoin="round" d="M3.75 6.75h16.5M3.75 12h16.5m-16.5 5.25h16.5" />
      </svg>
      </button>

      <span id="themeIcon" class="ml-auto">
         <svg onclick="toggleLightTheme()" xmlns="http://www.w3.org/2000/svg"
            class="mx-10 icon icon-tabler icon-tabler-shadow" width="24" height="24" viewBox="0 0 24 24"
            stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
            <path stroke="none" d="M0 0h24v24H0z" fill="none" />
            <path d="M12 12m-9 0a9 9 0 1 0 18 0a9 9 0 1 0 -18 0" />
            <path d="M13 12h5" />
            <path d="M13 15h4" />
            <path d="M13 18h1" />
            <path d="M13 9h4" />
            <path d="M13 6h1" />
         </svg>
      </span>

      <svg id="lang" xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-language" width="24"
         height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round"
         stroke-linejoin="round">
         <path stroke="none" d="M0 0h24v24H0z" fill="none" />
         <path d="M4 5h7" />
         <path d="M9 3v2c0 4.418 -2.239 8 -5 8" />
         <path d="M5 9c0 2.144 2.952 3.908 6.7 4" />
         <path d="M12 20l4 -9l4 9" />
         <path d="M19.1 18h-6.2" />
      </svg>

      <nav class="sm:block hidden">
         <ul class="flex">
            <li>
               <button id="login"
                  class="mx-10 rounded border-b-4 border-purple-950 bg-purple-700 px-4 py-2 font-semibold text-white hover:border-purple-800 hover:bg-purple-600">
                  Login
               </button>
            </li>

            <li>
               <button id="register"
                  class="rounded border-b-4 border-purple-950 bg-purple-700 px-4 py-2 font-semibold text-white hover:border-purple-800 hover:bg-purple-600">
                  Register
               </button>
            </li>
         </ul>
      </nav>
   </header>
   <main class="flex md:mt-20 h-auto w-full flex-col items-center justify-center p-10">
      <!-- Porfile -->
      <div class="my-32 grid gap-5 sm:grid-cols-2 md:w-3/4 lg:w-1/2">
         <!-- Columna 1: Imagen -->
         <div class="sm:h-72 h-52 rounded-md">
            <img class="h-full w-full rounded-md object-cover" src="img/perfile.png" alt="" />
         </div>

         <!-- Columna 2: Título y Párrafo -->
         <div>
            <!-- Título -->
            <h1 class="text-3xl font-bold">Soy Carlos Vásquez Sánchez</h1>

            <!-- Info -->
            <p class="text-pretty pt-3">
               Empezé programando páginas web y pequeños proyectos, desde los 17 años, pero actualmente estoy fromandome
               en
               programación competitiva y desarrollo en la
               Universidad Complutense de Madrid.
            </p>

            <p class="text-pretty pt-3">
               Me adapto a cualquier tipo de lenguaje, creo en la importancia del TDD, la documentación y las
               buenas prácticas.
            </p>

         </div>
      </div>

      <!-- Proyects -->
      <h1 class="pt-12 text-2xl font-bold">Proyectos</h1>
      <div
         class="grid h-auto w-full grid-cols-1 items-center justify-between gap-5 pt-5 sm:w-3/4 sm:grid-cols-2 md:w-2/3 md:grid-cols-3 lg:w-1/2 xl:w-2/4 ">

         <div style="background-image: url(&quot;/img/r.png&quot;)"
            class="col-span-1 h-60 rounded-2xl bg-opacity-45 bg-cover bg-center ransform transition-all duration-300 hover:scale-105 overflow-hidden">
            <a class="h-full w-full" href="https://robo-tec.vercel.app/">
               <div class="flex h-full flex-col justify-end bg-gradient-to-t from-black p-5 text-slate-200">
                  <h2 class="font-bold">Robotech</h2>
                  <p>E-comerce tecnológico</p>
               </div>
            </a>
         </div>

         <div style="background-image: url(&quot;/img/waynebooks.png&quot;)"
            class="col-span-1 h-60 rounded-2xl bg-opacity-45 bg-cover bg-center ransform transition-all duration-300 hover:scale-105 overflow-hidden">
            <a href="https://waynebooks.vercel.app/">
               <div class="flex h-full flex-col justify-end bg-gradient-to-t from-black p-5 text-slate-200">
                  <h2 class="font-bold">Waynebooks</h2>
                  <p>Libreria de fantasía</p>
               </div>
            </a>
         </div>

         <div style="background-image: url(&quot;/img/vintweet.png&quot;)"
            class="col-span-1 h-60 md:h-auto row-span-2 rounded-xl g-opacity-45 bg-cover bg-center transform transition-all duration-300 hover:scale-105 overflow-hidden">
            <a href="https://github.com/karlosvas/vintweet.git">
               <div class="flex h-full flex-col justify-end bg-gradient-to-t from-black p-5 text-slate-200">
                  <h2 class="font-bold">Clon de Twitter</h2>
                  <p>Hecho con Next, Typescript y Tailwind</p>
               </div>
            </a>
         </div>

         <div style="background-image: url(&quot;/img/olimpiadas.png&quot;)"
            class="col-span-1 h-60 rounded-2xl bg-opacity-45 bg-cover bg-center transform transition-all duration-300 hover:scale-105 overflow-hidden">
            <a href="https://github.com/karlosvas/olimpiadas-informaticas.git">
               <div class="flex h-full flex-col justify-end bg-gradient-to-t from-black p-5 text-slate-200">
                  <h2 class="font-bold">Olimpiada Informática</h2>
                  <p>
                     Clases de la Universidad Coplutense de Madrid con ejercicios de C++
                  </p>
               </div>
            </a>
         </div>

         <div style="background-image: url(&quot;/img/advent.png&quot;)"
            class="col-span-1 h-60 rounded-2xl bg-opacity-45 bg-cover bg-center transform transition-all duration-300 hover:scale-105 overflow-hidden">
            <a href="https://github.com/karlosvas/advent-js.git">
               <div class="flex h-full flex-col justify-end bg-gradient-to-t from-black p-5 text-slate-200">
                  <h2 class="font-bold">AdventJS</h2>
                  <p>Calendario de adviento de JS</p>
               </div>
            </a>
         </div>
      </div>

      <!-- Experience -->

      <div class="flex flex-col justify-center items-center text-pretty py-16 px-20">
         <h1 class="text-2xl font-bold">Experiencia</h1>
         <p class="sm:w-full md:w-1/2 pt-3">
            Tengo experiencia con lenguajes tanto de tipado estatico como
            dinámico, tales como JavaScript Typesscript, C++,
            Python, y Astro en ese orden.
         </p>
      </div>
   </main>

   <footer class="flex h-20 w-full items-center justify-center bg-black text-xs text-slate-200">
      Contacto: carlosvassan@gmail.com
   </footer>

</body>

</html>