<button
  type="submit"
  class="bg-purplePal text-white py-2 px-4 rounded-md hover:bg-opacity-95 transition-all duration-200 mb-20 shadow-[0_5px_0_rgb(83,70,175)] hover:shadow-[0_3px_0_rgb(83,70,175)] hover:translate-y-[2px] active:shadow-[0_0px_0_rgb(83,70,175)] active:translate-y-[5px] font-bold tracking-wide"
>
  <slot />
</button>
