---
import ModalAuth from './ModalAuth.astro'
---

<ModalAuth/>
<nav class="sm:block hidden text-whitePal mt-10 sm:mt-0" id="navLog">
   <ul class="flex">
      <li>
         <button id="login"
            class="mx-3 rounded select-none border-b-4 border-indigo-800 bg-indigo-500 hover:bg-indigo-400 px-4 py-2 hover:border-indigo-300 font-semibold transition-background-color duration-900 ">
            Cargando...
         </button>
      </li>
      <li>
         <button id="register"
            class="mx-3 rounded select-none border-b-4 border-indigo-800 bg-indigo-500 hover:bg-indigo-400 px-4 py-2 hover:border-indigo-300 font-semibold transition-background-color duration-900">
            Register
         </button>
      </li>
   </ul>
</nav>
<script type="module">
import { isLogged, stateAuthFirebase, signOutUser } from '/dist/functions/oauth2-0.js';
   // Estado de login del usuario
   let userLogin = isLogged();

   // AuthState, Estado de los botones
   stateAuthFirebase('login');

   // Eventos de los botones de login, register && close
   ['btnClose', 'register', 'login'].forEach(id => {
      let element = document.getElementById(id)
      // Si cerramos el modal actualizamos el estado del usuario
      element.addEventListener('click', (event) => {
         if(element.textContent == "Logout") {
            signOutUser();
         } else {
            toggleModal(event, 'modal');
            // Si el Hamburgermodal es visible se oculta  y se muestra el modal de log
            if (!document.getElementById('hamburgerModal').classList.contains('hidden')) {
                document.getElementById('hamburgerModal').classList.toggle('hidden');
            }
            document.getElementsByTagName('main')[0].classList.toggle('opacity-50');
         }

         stateAuthFirebase(id);      
      });
   });
</script>