---
const { data } = Astro.props;

const formatDescription = (desc: string) => {
  return desc.split('.').map(sentence => sentence.trim()).filter(sentence => sentence).join('.\n');
};
---

<div class="w-full md:w-2/3 lg:w-1/2 flex flex-col justify-center items-center my-40 md:px-20">
   <h1 class="text-2xl font-bold">
      {data.experience.title}
   </h1>
   <p style="white-space: pre-line; pt-3 text-pretty">
      {formatDescription(data.experience.description)}
   </p>
</div>