---
import type { i18nTranslations } from "@/../types/types";
const data: i18nTranslations = Astro.props.data;
---

<div class="absolute left-10">
  <svg
    id="hamburgerBtn"
    xmlns="http://www.w3.org/2000/svg"
    fill="none"
    viewBox="0 0 24 24"
    stroke-width="1.5"
    stroke="currentColor"
    class="h-10 w-10 sm:hidden cursor-pointer"
  >
    <path stroke-linecap="round" stroke-linejoin="round" d="M3.75 6.75h16.5M3.75 12h16.5m-16.5 5.25h16.5"></path>
  </svg>

  <dialog
    id="hamburgerModal"
    class="fixed left-0 w-80 h-full z-50 bg-whitePal p-0 border-none m-0 backdrop:bg-blackPal backdrop:bg-opacity-50 text-blackPal dark:text-whitePal dark:bg-blackPal"
  >
    <div class="h-full overflow-hidden">
      <ul class="flex flex-col items-center justify-start h-full mt-10">
        <li class="my-2 text-lg nav-item">
          <a href="#profile" class="block px-4 py-2 transition-colors duration-200 hover:text-purplePal outline-none">
            {data.profile.title}
          </a>
        </li>
        <li class="my-2 text-lg nav-item">
          <a href="#projects" class="block px-4 py-2 transition-colors duration-200 hover:text-purplePal outline-none">
            {data.projects.title}
          </a>
        </li>
        <li class="my-2 text-lg nav-item">
          <a
            href="#experiencie"
            class="block px-4 py-2 transition-colors duration-200 hover:text-purplePal outline-none"
          >
            {data.experience.title}
          </a>
        </li>
        <li class="my-2 text-lg nav-item">
          <a href="#contact" class="block px-4 py-2 transition-colors duration-200 hover:text-purplePal outline-none">
            {data.contact.title}
          </a>
        </li>
      </ul>
    </div>
  </dialog>
</div>

<style>
  #hamburgerModal {
    top: 84px;
    transition: top 0.3s;
  }

  #hamburgerModal.scrolled {
    top: 80px;
  }
</style>

<script>
  const hamburgerBtn = document.getElementById("hamburgerBtn");
  const hamburgerModal = document.getElementById("hamburgerModal") as HTMLDialogElement;

  // Abrir el modal al hacer clic en el botón de hamburguesa
  hamburgerBtn?.addEventListener("click", () => {
    if (hamburgerModal) {
      hamburgerModal.showModal();
      // Prevenir el scroll en el body cunado el modal está abierto
      document.body.style.overflow = "hidden";
    }
  });

  // Cerrar el modal al hacer clic fuera de él
  hamburgerModal?.addEventListener("click", (event) => {
    // Cerrar solo cunado se hace clic fuera del contenido del modal
    const rect = hamburgerModal.getBoundingClientRect();
    // Verificar si el clic está dentro del modal
    const isInDialog =
      rect.top <= event.clientY &&
      event.clientY <= rect.top + rect.height &&
      rect.left <= event.clientX &&
      event.clientX <= rect.left + rect.width;
    // Si no está dentro del modal, cerrarlo
    if (!isInDialog) {
      hamburgerModal.close();
      // Restaurar el scroll del body
      document.body.style.overflow = "";
    }
  });

  // Cerrar el modal al hacer clic en un enlace dentro de él
  document.querySelectorAll(".nav-item a").forEach((item) => {
    item.addEventListener("click", (event) => {
      const targetId = item.getAttribute("href");

      if (targetId === null) return;

      // Cerrar el modal
      hamburgerModal?.close();

      // Restaurar el scroll del body
      document.body.style.overflow = "";

      // Desplazarse suavemente a la sección correspondiente
      const targetElement = document.querySelector(targetId);
      if (targetElement) {
        event.preventDefault();
        targetElement.scrollIntoView({ behavior: "smooth" });
      }
    });
  });
</script>
