<svg  onclick="toggleModal(event, 'hamburgerModal')" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor"
      class="h-6 w-6 sm:hidden" id="hamburger">
      <path stroke-linecap="round" stroke-linejoin="round" d="M3.75 6.75h16.5M3.75 12h16.5m-16.5 5.25h16.5" />
</svg>

<div id="hamburgerModal" class="fixed hidden top-10 left-0 w-80 h-full z-50 mt-8 bg-blackPal transition-bg duration-200 flex flex-col items-center select-none cursor-pointer rounded-md">
</div>

<script>
   // Si al cargar es una pantalla de movil, el login pasa al hamburger
   let navLog = document.getElementById('navLog');
   let hambButton = document.getElementById('hamburgerModal');

   if (navLog && hambButton) {
      if (window.innerWidth <= 640) {
         hambButton?.appendChild(navLog);
         navLog.classList.toggle('hidden');
      }
   }
</script>