<span
  onclick="toggleModal(event, 'modalLanguage')"
  id="lang"
  class="flex justify-center align-middle sm:mr-10 relative"
>
  <svg
    xmlns="http://www.w3.org/2000/svg"
    class="hover:text-purplePal transition-color duration-200 icon icon-tabler icon-tabler-language"
    width="25"
    height="30"
    viewBox="0 0 24 24"
    stroke-width="2"
    stroke="currentColor"
    fill="none"
    stroke-linecap="round"
    stroke-linejoin="round"
  >
    <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
    <path d="M4 5h7"></path>
    <path d="M9 3v2c0 4.418 -2.239 8 -5 8"></path>
    <path d="M5 9c0 2.144 2.952 3.908 6.7 4"></path>
    <path d="M12 20l4 -9l4 9"></path>
    <path d="M19.1 18h-6.2"></path>
  </svg>
  <div
    id="modalLanguage"
    class="absolute hidden top-11 rigth-10 w-20 h-20 z-50 bg-blackPal outline outline-2 outline-whitePal transition-bg duration-200 flex flex-col justify-center items-center select-none cursor-pointer rounded-md"
  >
    <button class="m-1" onclick="getSpain()">Spanish</button>
    <button class="m-1" onclick="getEnglish()">English</button>
  </div>
</span>

<script>
  import { getSpain, getEnglish } from "@/services/language";
  import { toggleModal } from "@/services/logicModal";

  // Función para mostrar el modal al hacer clic en el botón de idioma
  document.addEventListener("click", (event) => {
    const modal = document.getElementById("modalLanguage");
    const langButton = document.getElementById("lang");
    if (event.target && !langButton?.contains(event.target as Node)) {
      // Si el clic no fue dentro del botón de idioma, ocultar el modal
      if (modal) {
        modal.classList.add("hidden");
      }
    }
  });
</script>
<style>
  #modalLanguage::before {
    content: "";
    position: absolute;
    top: -13%;
    left: 50%;
    transform: translateX(-50%);
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-bottom: 10px solid #fff;
  }

  #modalLanguage button:hover {
    color: var(--purplePal);
    transition: color 0.2s;
  }

  button {
    cursor: pointer;
  }
</style>
