<span id="lang" class="flex justify-center align-middle sm:mr-10 relative">
  <svg
    xmlns="http://www.w3.org/2000/svg"
    class="hover:text-purplePal transition-color duration-200 icon icon-tabler icon-tabler-language cursor-pointer"
    width="25"
    height="30"
    viewBox="0 0 24 24"
    stroke-width="2"
    stroke="currentColor"
    fill="none"
    stroke-linecap="round"
    stroke-linejoin="round"
  >
    <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
    <path d="M4 5h7"></path>
    <path d="M9 3v2c0 4.418 -2.239 8 -5 8"></path>
    <path d="M5 9c0 2.144 2.952 3.908 6.7 4"></path>
    <path d="M12 20l4 -9l4 9"></path>
    <path d="M19.1 18h-6.2"></path>
  </svg>
  <div
    id="modalLanguage"
    class="absolute hidden top-11 right-[-10] w-20 h-20 z-50 bg-blackPal outline outline-2 outline-whitePal transition-bg duration-200 flex flex-col justify-center items-center select-none cursor-pointer rounded-md"
  >
    <button class="m-1 lang-button" data-lang="es">Spanish</button>
    <button class="m-1 lang-button" data-lang="en">English</button>
  </div>
</span>

<script>
  import { getSpain, getEnglish } from "@/services/language";
  import { toggleModal } from "@/services/logicModal";

  const langButton = document.getElementById("lang");
  const modal = document.getElementById("modalLanguage");

  // Toggle modal
  langButton?.addEventListener("click", (e) => {
    e.stopPropagation();
    toggleModal("modalLanguage");
  });

  // Cambiar idioma
  modal?.addEventListener("click", (e) => {
    const target = e.target as HTMLElement;
    const lang = target.dataset.lang;

    console.log("Modal clicked:", target); // Debug
    console.log("Dataset:", target.dataset); // Debug
    console.log("Lang:", lang); // Debug

    if (lang === "es") getSpain();
    else if (lang === "en") getEnglish();
  });

  // Cerrar al hacer clic fuera
  document.addEventListener("click", (e) => {
    if (!langButton?.contains(e.target as Node)) {
      modal?.classList.add("hidden");
    }
  });
</script>
<style>
  #modalLanguage::before {
    content: "";
    position: absolute;
    top: -13%;
    left: 50%;
    transform: translateX(-50%);
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-bottom: 10px solid #fff;
  }

  #modalLanguage button:hover {
    color: var(--purplePal);
    transition: color 0.2s;
  }

  button {
    cursor: pointer;
  }
</style>
