---
import type { i18nTranslations } from "@/../types/types";
const data: i18nTranslations = Astro.props.data;
---

<div
  id="profile"
  class="min-h-screen sm:py-20 md:pb-80 md:pt-20 grid justify-center gap-8 sm:grid-cols-2 md:w-3/4 lg:w-1/2 px-4"
>
  <!-- Imagen -->
  <img
    class="h-96 w-full xl:w-3/4 rounded-lg object-cover select-none m-auto lg:my-0"
    src="/img/profile.webp"
    alt="Imagen de perfil Carlos Vásquez Sánchez"
  />

  <!-- Párrafo con mejor espaciado -->
  <section class="flex flex-col justify-center space-y-4">
    <!-- Título -->
    <div class="space-y-2">
      <h1
        id="title"
        class="text-4xl font-bold bg-gradient-to-r from-blue-500 via-purple-500 to-pink-500 bg-clip-text text-transparent lg:min-h-10"
      >
        {" "}
      </h1>
      <p class="text-lg md:text-xl font-semibold text-purplePal/80">{data.profile.subtitle}</p>
    </div>
    <!-- Info -->
    <div class="space-y-4 text-base md:text-base leading-relaxed">
      <p class="text-pretty opacity-90 hover:opacity-100 transition-opacity duration-300">
        {data.profile.presentation.v1}
      </p>
      <p class="text-pretty opacity-90 hover:opacity-100 transition-opacity duration-300">
        {data.profile.presentation.v2}
      </p>
    </div>
  </section>
</div>
<script is:inline define:vars={{ data }}>
  // Actualizar el título con un efecto de escritura
  async function updateTitle(name) {
    const title = document.getElementById("title");

    if (title) {
      title.innerHTML = "";
      title.style.minHeight = "5rem";

      // Creamos un contenedor para el texto
      const textSpan = document.createElement("span");
      textSpan.style.whiteSpace = "pre-line";

      // Creamos el span del cursor y le damos la clase blinking-cursor
      const cursorSpan = document.createElement("span");
      cursorSpan.innerText = "|";
      cursorSpan.classList.add("blinking-cursor");
      cursorSpan.style.display = "inline-block";
      cursorSpan.style.width = "0.5em";

      title.appendChild(textSpan);
      title.appendChild(cursorSpan);

      // Hacemos un bucle para ir añadiendo cada letra del nombre al título
      // y simulamos un efecto de escritura
      let result = "";
      for (let i = 0; i < name.length; i++) {
        await new Promise((resolve) => setTimeout(resolve, 100));
        result += name[i];
        if (result === "Carlos Raúl") result += "\n";
        textSpan.textContent = result;
      }

      // Al finalizar, eliminamos el cursor y lo reemplazamos por un parpadeo
      cursorSpan.style.animation = "blink 1s infinite";
      setTimeout(() => {
        cursorSpan.remove();
      }, 3000);
    }
  }

  window.addEventListener("DOMContentLoaded", () => updateTitle(data.profile.name));
</script>
<style>
  @keyframes blink {
    0%,
    100% {
      opacity: 0;
    }
    50% {
      opacity: 1;
    }
  }
</style>
