---
const { data } = Astro.props;
---

<div id="profile" class="sm:my-20 md:my-40 grid justify-center gap-5 sm:grid-cols-2 md:w-3/4 lg:w-1/2">
  <!-- Imagen -->
  <img
    class="h-full w-full xl:w-3/4 rounded-md object-cover select-none m-auto lg:my-0"
    src="/img/perfile.webp"
    alt="Imagen de perfil Carlos Vásquez Sánchez"
  />
  <!-- Párrafo -->
  <section>
    <!-- Título -->
    <h1 id="title" class="text-3xl font-bold text-purplePal min-h-20 lg:min-h-10"></h1>
    <h3 class="font-bold text-purplePal">Backend Developer</h3>
    <!-- Info -->
    <p class="text-pretty pt-3">
      {data.profile.presentation.v1}
    </p>
    <p class="text-pretty pt-3">
      {data.profile.presentation.v2}
    </p>
  </section>
</div>
<script>
  function sleep(ms: number) {
    return new Promise((resolve) => setTimeout(resolve, ms));
  }

  async function updateTitle(name: string) {
    const title = document.getElementById("title");

    if (title) {
      title.innerHTML = "";
      // Creamos el span del cursor y le damos la clase blinking-cursor
      const cursorSpan = document.createElement("span");
      cursorSpan.innerText = "|";
      cursorSpan.classList.add("blinking-cursor");
      cursorSpan.style.display = "inline-block";
      cursorSpan.style.width = "0.5em";

      title.appendChild(cursorSpan);

      let result = "";
      for (let i = 0; i < name.length; i++) {
        await sleep(100);
        result += name[i];
        title.innerText = result;
        title.appendChild(cursorSpan);
      }

      cursorSpan.style.animation = "blink 1s infinite";
      setTimeout(() => {
        cursorSpan.remove();
      }, 3000);
    }
  }

  window.addEventListener("DOMContentLoaded", () => updateTitle("Carlos Vásquez Sánchez"));
</script>
<style>
  @keyframes blink {
    0%,
    100% {
      opacity: 0;
    }
    50% {
      opacity: 1;
    }
  }
</style>
