<button
  class="transition-background-color duration-900 mx-3 select-none rounded border-b-4 border-indigo-800 bg-indigo-500 px-4 py-2 font-semibold hover:border-indigo-300 hover:bg-indigo-400"
>
  <slot />
</button>
