<button
  class="mx-3 rounded select-none border-b-4 border-indigo-800 bg-indigo-500 hover:bg-indigo-400 px-4 py-2 hover:border-indigo-300 font-semibold transition-background-color duration-900"
>
  <slot />
</button>
