<button
  id="themeToggle"
  type="button"
  class="transition-colors mx-2 inline-flex items-center justify-center rounded-md p-1 duration-200 hover:text-purplePal focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-purplePal focus-visible:ring-offset-2 md:mx-5"
  aria-label="Cambiar tema"
  aria-pressed="true"
>
  <svg
    id="themeIconDark"
    xmlns="http://www.w3.org/2000/svg"
    class="icon icon-tabler icon-tabler-brightness-off"
    width="24"
    height="24"
    viewBox="0 0 24 24"
    stroke-width="2"
    stroke="currentColor"
    fill="none"
    stroke-linecap="round"
    stroke-linejoin="round"
    aria-hidden="true"
  >
    <path stroke="none" d="M0 0h24v24H0z" fill="none"></path><path d="M12 3v5m0 4v9"></path><path
      d="M5.641 5.631a9 9 0 1 0 12.719 12.738m1.68 -2.318a9 9 0 0 0 -12.074 -12.098"></path><path
      d="M12.5 8.5l4.15 -4.15"></path><path d="M12 14l1.025 -.983m2.065 -1.981l4.28 -4.106"></path><path
      d="M12 19.6l3.79 -3.79m2 -2l3.054 -3.054"></path><path d="M3 3l18 18"></path>
  </svg>

  <svg
    id="themeIconLight"
    xmlns="http://www.w3.org/2000/svg"
    class="icon icon-tabler icon-tabler-shadow hidden"
    width="24"
    height="24"
    viewBox="0 0 24 24"
    stroke-width="2"
    stroke="currentColor"
    fill="none"
    stroke-linecap="round"
    stroke-linejoin="round"
    aria-hidden="true"
  >
    <path stroke="none" d="M0 0h24v24H0z" fill="none"></path><path d="M12 12m-9 0a9 9 0 1 0 18 0a9 9 0 1 0 -18 0"
    ></path><path d="M13 12h5"></path><path d="M13 15h4"></path><path d="M13 18h1"></path><path d="M13 9h4"></path><path
      d="M13 6h1"></path>
  </svg>
</button>

<script src="@/services/theme"></script>
