---
import ModalAuth from '../components/ModalAuth.astro'
---

<ModalAuth/>
<nav class="sm:block hidden text-whitePal">
   <ul class="flex">
      <li>
         <button id="login" onclick="setModalType('formTitle', 'Login');"
            class="mx-3 rounded select-none border-b-4 border-indigo-800 bg-indigo-500 hover:bg-indigo-400 px-4 py-2 hover:border-indigo-300 font-semibold transition-background-color duration-900 ">
                  Login
         </button>
      </li>
      <li>
         <button id="register" onclick="setModalType('formTitle', 'Register');"
            class="mx-3 rounded select-none border-b-4 border-indigo-800 bg-indigo-500 hover:bg-indigo-400 px-4 py-2 hover:border-indigo-300 font-semibold transition-background-color duration-900">
            Register
         </button>
      </li>
   </ul>
</nav>
<script type="module">
   import {changeLogout} from '/src/functions/auth.ts';

   let emailValid = localStorage.getItem('emailValid');
   let passwordValid = localStorage.getItem('passwordValid');
   
   // Cada vez que se reinicie el modal se ajusta el titulo si ha sido loageado o no.
   changeLogout(emailValid, passwordValid);

   // Eventos de los botones de login y register
   ['btnClose', 'register', 'login'].forEach(id => {
   document.getElementById(id).addEventListener('click', (event) => {
      emailValid = localStorage.getItem('emailValid');
      passwordValid = localStorage.getItem('passwordValid');
      // Si no se ha validado el email o la contraseña o el modal no esta oculto, se muestra el modal, si no
      if(emailValid !== 'true' || passwordValid !== 'true' || !document.getElementById('modal').classList.contains('hidden'))
         toggleModal(event, 'modal');
      else
         changeLogout(emailValid, passwordValid);
   });
});
</script>