---
const { data } = Astro.props;
---

<div class="w-1/2 flex flex-col justify-center items-center text-pretty my-20 px-20">
   <h1 class="text-2xl font-bold">
      {data.experience.title}
   </h1>
   <p class="pt-3">
      {data.experience.description}
   </p>
</div>