---
import "@/styles/global.css";
import { PUBLIC_TURNSTILE_SITE_KEY } from "astro:env/client";

const { title } = Astro.props;
---

<!doctype html>
<html lang="es" class="dark">
  <head>
    <meta charset="UTF-8" />
    <meta
      name="Carlos V치squez S치nchez portafolio de desarrollo de software"
      content="Portafolio de Carlos V치squez S치nchez, mostrando sus proyectos, habilidades en desarrollo de software"
    />
    <meta name="viewport" content="width=device-width" />
    <link rel="shortcut icon" href="/favicon.svg" type="image/svg+xml" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
    <script src="https://challenges.cloudflare.com/turnstile/v0/api.js?render=explicit" defer></script>
    <style>
      html {
        overflow-x: hidden;
        scroll-behavior: smooth;
      }
      html::-webkit-scrollbar {
        width: 0.5rem;
        background-color: #6166ff49;
      }

      html::-webkit-scrollbar-thumb {
        background-color: #5156edd3;
        border-radius: 100px;
      }

      body {
        overflow-x: hidden;
        font-family: "Roboto", sans-serif;
        font-weight: 400;
        font-style: normal;
      }

      @media (prefers-reduced-motion: reduce) {
        html {
          scroll-behavior: auto;
        }
      }
    </style>
  </head>
  <body>
    <!-- Cloudflare Turnstile -->
    <div class="cf-turnstile" data-sitekey={PUBLIC_TURNSTILE_SITE_KEY} data-size="invisible"></div>
    <slot />
    <script is:inline define:vars={{ PUBLIC_TURNSTILE_SITE_KEY }}>
      console.log("PUBLIC_TURNSTILE_SITE_KEY", PUBLIC_TURNSTILE_SITE_KEY);
      // Inicializar Turnstile Invisible
      document.addEventListener("DOMContentLoaded", function () {
        turnstile.render(".cf-turnstile", {
          sitekey: PUBLIC_TURNSTILE_SITE_KEY,
          size: "invisible",
          callback: function () {
            console.log("Cloudflare Turnstile, you are not a robot");
          },
        });
      });
    </script>
  </body>
</html>
