---
const data = Astro.props.data
---

<div class="mb-20 mt-40 grid gap-5 sm:grid-cols-2 md:w-3/4 lg:w-1/2">
   <!-- Imagen -->
   <div class="sm:h-72 h-52 rounded-md mr-10">
      <img class="h-full w-full rounded-md object-cover select-none" src="/img/perfile.png" alt="Imagen de perfil" />
   </div>
   <!-- Párrafo -->
   <section>
      <!-- Título -->
      <h1 class="text-3xl font-bold">
         {data.name}
      </h1>
      <!-- Info -->
      <p class="text-pretty pt-3">
         {data.presentation.v1}
      </p>
      <p class="text-pretty pt-3">
         {data.presentation.v2}
      </p>
   </section>
</div>