---
const {data} = Astro.props
---

<div class="md:mt-40 grid justify-center gap-5 sm:grid-cols-2 md:w-3/4 lg:w-1/2">
   <!-- Imagen -->
   <img class="h-2/3 w-full xl:w-3/4 rounded-md object-cover select-none m-auto lg:my-0" src="/img/perfile.png" alt="Imagen de perfil Carlos Vásquez Sánchez" />
   <!-- Párrafo -->
   <section>
      <!-- Título -->
      <h1 class="text-3xl font-bold ">
         {data.name}
      </h1>
      <!-- Info -->
      <p class="text-pretty pt-3">
         {data.presentation.v1}
      </p>
      <p class="text-pretty pt-3">
         {data.presentation.v2}
      </p>
   </section>
</div>